body{
  background-color: rgb(255, 158, 61);
}

.header_rules-button {
  width: 50px;
  cursor:pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  
}

.header_h1 {
  text-align: center;
  font-family: 'Gasoek One', sans-serif;
}

.header_rules-button {
  width: 50px;
  position: absolute;
  left: 8em;
}

.header_h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.main-theme-pads {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  min-height: 75vh;
  position: relative;
}

h2 {
  text-align: center;
  padding-bottom: 0.5em;
  position: relative;
  font-size: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.main_theme {
  padding-bottom: 4rem;
}

.main_img-theme {
  box-shadow: rgb(30, 27, 27) -1px 2px 5px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main_theme-title{
  font-family: 'Rye', serif;
}

.row {
  display: flex;
}

.main_pads {
  margin-top: 3em;
}

.pad {
  width: 7em;
  height: 7em;
  background-color: #2d2828;
  box-shadow: rgb(30, 27, 27) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
  margin: 0.25rem;
  border : 2px solid rgb(163, 163, 163);
  cursor: pointer;
}

.pad-color {  
  border : 2px solid rgb(231, 12, 12);

}

.validation-button {
  width: 7em;
  height: 3em;
  background-color: #2baa1d;
  box-shadow: rgb(30, 27, 27) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border: 2px solid grey;
  margin-top: 0.25rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

